<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insert" parameterType="memberDTO">
		<!-- insert, update, delete 문은 결과가 int임
		mybatis에서는 resultType="int"가 자동으로 들어가 있음
		 -->
		insert into member values (#{id}, #{pw}, #{name}, #{tel})
	</insert>
	<update id="update" parameterType="memberDTO">
	update member set 
	tel = #{tel} 
	where id = #{id}
	</update>
	<delete id="delete" parameterType="memberDTO">
	 delete from member where id = #{id}
	</delete>
	<select id="one" parameterType="String" resultType="memberDTO">
	select * from member
	where id = #{id}
	</select>
	<select id="all" resultType="memberDTO">
		select * from member
	</select>
</mapper>











